@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Глобальные */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  margin: 0;
  font-family:  "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  font-style: normal;
  color: var(--basic-grey);

  background-color: var(--basic-smoky-white);
}

.main-container {
  flex-grow: 1;
  margin-top: -10px;
}

.container {
  display: block;
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 0px 15px 0px #00000033;
}

.container--page {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-smoky-white:#F2F2F2;
  --basic-grey: #333333;
  --basic-blue-gray:#82B3D3;

  --black-darker:#4561a4;
  --reddish-brown:#756157;
  // rgba(0, 0, 0, 0.2)

}

/* header */
.page-header {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 26px;
  padding-left: 70px;
  padding-right: 54px;
  color: var(--basic-black);
}

.page-header-logo {
  width: 170px;
}

.navigation {
  width: 100%;
  margin-top: -10px;
}

.navigation,
.navigation-list,
.navigation-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navigation-list,
.navigation-user {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list {
  flex-wrap: wrap;
  gap: 5px;
  margin-right: auto;
}

.navigation-link,
.navigation-user-link {
  padding: 20px 14px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
}


.navigation-link {
  margin: 0 14px;
  padding: 20px 0;
}

.navigation-index .navigation-link-active,
.navigation-catalog .navigation-link-active,
.navigation-link:hover,
.navigation-link:active,
.navigation-link:focus {
  border-bottom: 2px solid #756257;
}

.navigation-user-link {
  position: relative;
}
.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-user .navigation-user-link {
  display: block;
  min-width: 44px;
  min-height: 64px;
  padding: 5px;
}

.navigation-user-link--favorites {
  position: relative;
  margin-left: 17px;
  padding: 4px 5px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: #7DB54F;
  background-size: 20px 20px;
  border-radius: 10px;

  color: var(--basic-white);

  z-index: 1;
}

.navigation-user-link--btn {
  margin-left: 16px;
  margin-right: 16px;
  padding: 8px 35px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color:  var(--reddish-brown);
  border-radius: 4px;
}

.navigation-user-link--btn:hover,
.navigation-user-link--btn:focus {
  background: #615048;
}

.navigation-user-link--btn:active {
  background: #756157;
  color: #FFFFFF4D;
}

.navigation-user-link--btn:disabled {
  background: #E5E5E5;
  color: #FFFFFF;
}

/* main */
.hero {
  background-color:var(--black-darker);
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.hero-image {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

/* info */
.info-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.info-title {
  width: 800px;
  margin: 70px auto 24px;
  padding: 0 20px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.info-text {
  margin: 0;
  margin-bottom: 90px;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}


.info-item {
  display: flex;
  align-items: center;
}

.info-item:nth-child(5n) {
  flex-direction: row-reverse;
}

.info-item--accent {
  width: 100%;
}

.info-item--lighter,
.info-item--light,
.info-item-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 385px;
  padding: 50px;
}

.info-item-wrap {
  width: 100%;
  min-height: 385px;
  background-color: var(--basic-blue-gray);
}

.info-item--lighter,
.info-item--light {
  flex-grow: 1;
}

.info-item-img {
  background-color: #83B3D333;
}

.info-item--light {
  background-color: #83B3D31F;
}

.info-item-title {
  position: relative;
  width: 175px;

  // width: 220px;
  margin-top: 15px;
  margin-bottom: 44px;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: var(--basic-black);
}

.info-item--accent .info-item-title {
  width: 172px;
}

.info-item-text {
  width: 230px;
  margin-bottom: 17px;
  padding: 5px;
  padding: 0;
  text-align: center;
}

.info-item-text--accent,
.info-item-title--accent {
  color: var(--basic-white);
}

.info-item-title::before {
  position: absolute;
  content:"";
  left: 31%;
  bottom: -20px;
  height: 2px;
  width: 60px;
  background: #0000004D;
}
.info-item-title--accent::before {

  background: #FFFFFF4D;
}

/* advantages */
.advantages {
  margin: 0 auto ;
}

.advantages-title {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 64px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;

  color: var(--basic-black);
}

.advantages-text {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 64px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 386px;
  padding: 81px 85px;
  background-color: #83B3D31F;
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: top 81px center;
}

.advantages-item--home {
  background-image: url("../images/icons/icon-home.svg");
}

.advantages-item--food {
  background-color: var(--basic-white);
  background-image: url("../images/icons/icon-food.svg");
}

.advantages-item--gift {
  background-image: url("../images/icons/icon-gift.svg");
  background-position: top 79px center;
}

.advantages-item-title {
  margin: 0;
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: var(--basic-black);
}

.advantages-item-text {
  margin-bottom: 2px;
  padding: 0;
  text-align: center;
}

/* hotel-search */
.hotel-search {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 95px;
}

.hotel-search--title {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.hotel-search-text {
  width: 580px;
  margin-top: 0;
  margin-bottom: 54px;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.hotel-search-btn {
  margin-bottom: 96px;
  padding: 8px 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--reddish-brown);
  border-radius: 4px;
}

.hotel-search-btn:hover,
.hotel-search-btn:focus {
  background: #615048;
}

.hotel-search-btn:active {
  background: #756157;
  color: #FFFFFF4D;
}

.hotel-search-btn:disabled {
  background: #E5E5E5;
  color: #FFFFFF;
}

/* subscribe */
.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe--img {
  background-color:var(--black-darker);
  background-image: url("../images/subscrib-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.subscribe--title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 156px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe--img .subscribe--title {
  padding-top: 96px;
}

.subscribe--text {
  max-width: 500px;
  margin-top: 0;
  margin-bottom: 55px;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe .subscribe--text,
.subscribe .subscribe--title {
  color: var(--basic-black);
}

.subscribe--img .subscribe--text,
.subscribe--img .subscribe--title {
  color: var(--basic-white);
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 684px;
  padding-bottom: 104px;
}

.subscribe-form-input {
  display: block;
  // height: 52px;
  width: 100%;
  padding: 14px 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(0, 0, 0, 0.6);
  background-color: var(--basic-smoky-white);
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-form-btn {
  // height: 52px;
  padding: 8px 50px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-blue-gray);
  border:none;
  border-radius: 0 4px 4px 0;
}

.subscribe-form-btn:hover {
  background: #68A2CA;
}

.subscribe-form-btn:focus {
  background: #68A2CA;
}

.subscribe-form-btn:active {
  background: #82B3D3;
  color: #FFFFFF4D;
}

.subscribe-form-btn:disabled {
  background: #E5E5E5;
}


/* footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px 76px;
}

.social {
  width: 129px;
  margin-right: 244px;
  margin-top: 3px;
}

.social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item-link {
  width: 47px;
  height: 40px;
  padding: 5px;
}

.social-item-link-img path:hover,
.social-item-link-img path:focus {
  fill: #68A2CA;
}

.social-item-link-img path:active {
  fill: #68A2CA4D;
}

.contacts {
  margin-right: auto;
  // text-decoration-line: underline;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: #7561574D;
}

.site-logo-img {
  margin-top: 3px;
}
.site-logo-img path:hover {
  fill: #756157;
}

.site-logo-img path:focus {
  fill: #756157;
}

.site-logo-img path:active {
  fill: #7561574D;
}

/* main-catalog */
.inner-header {
  padding-left: 70px;
  padding-right: 70px;
  background-color: var(--black-darker);
  background-image: url("../images/filter-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 7px;
  padding: 0;
  padding-top: 35px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: var(--basic-white);
}

/* breadcrumbs */
.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 28px;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  color: var(--basic-white);
}

// .breadcrumbs-item:nth-child(2n) {
//   position: relative;
// }

// .breadcrumbs-item:nth-child(2n)::before {
//   position: absolute;
//   content: "";
//   width: 8px;
//   height: 11px;
//   background-image: url("../images/icons/arrow-left.svg");
//   background-position: left -18% center;
//   background-size: 8px 16px;
//   background-repeat: no-repeat;
// }

.breadcrumbs-link-img {
width: 13px;
height: 13px;

}
/* filter */
.catalog-filter {
  display: flex;
  flex-direction: row;
  // align-items: flex-start;
  // gap: 72px;
  padding-bottom: 56px;
}

.catalog-filter-group {
  // padding: 0;
  // margin: 0;
  color: var(--basic-white);
  // border: none;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-title {
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.control {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: var(--basic-white);
}

.min-price__input,
.max-price__input {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: var(--basic-black);
}

.price-controls__text,
.max-price__text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: lowercase;
  // opacity: .3;
  color: var(--basic-black);
}

.button {
  width: 191px;
  height: 36px;
  padding: 8px 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-blue-gray);
  border: none;
  border-radius: 4px;
}

.button__reset {
  font-weight: 400;
  text-transform: capitalize;
  background: none;
  border: none;
}

/* results */
.results {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 70px 20px;
}

.results-title {
  margin-right: auto;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: var(--basic-black);
}

.select-control {
  position: relative;
  width: 292px;
  // height:49px;
  padding: 10px 20px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;

}

.select-control::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 9px;
  background: url('../images/icons/arrow.svg');
  background-repeat: no-repeat;
  background-size: 12px 9px;
  background-position: right 6% center;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus {
  outline: none;
  border: 2px solid #68A2CA;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.30);
  color: rgba(0, 0, 0, 0.30);
  fill: rgba(0, 0, 0, 0.30);
}

.switcher-button-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 0;
  margin-left: 68px;
  padding: 0;
  list-style: none;
}

.switcher-button-list-item-link {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 48px;
  min-height: 48px;
  padding: 5px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.switcher-button-list-item-link-active,
.switcher-button-list-item-link:hover {
  border: 2px solid #000000;
}

.switcher-button-list-item-link:focus {
  border: 2px solid #68A2CA
}

.switcher-button-list-item-link:active {
  border: 2px solid #000000;
}

.catalog {
  padding-left: 70px;
  padding-right: 70px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  margin-bottom: 78px;
  padding: 0;
  list-style: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding: 21px 19px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.product-card-image {
  display: block;
}

.product-card--title {
  margin-top: 15px;
  margin-bottom: 0;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: var(--basic-black);
}

.product-card-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-content: center;
  // margin-top: 15px;
}

.product-card-housing,
.product-card-price {
  margin: 0;
}
.product-card-housing {
  text-align: left;
}

.product-card-price {
  text-align: right;
}

.product-card-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // justify-content: start;
  // margin-top: 7px;
}

.product-card-btn {
  padding: 8px 26px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--reddish-brown);
  border-radius: 4px;
}

.product-card-btn--accent {
  padding: 8px 19px;
  background-color: var(--basic-blue-gray);
}

.product-card-btn--active {
  background-color: #7DB54F;
}

.product-card-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.star {
  // display: block;
  // height: 17px;
  // width: 105px;
}

.star {
  height: 17px;
  width: 105px;
}

.star::before {
  content: '';
  display: block;
  height: 17px;
  background-image: url(../images/icons/icon-star.svg);
  background-repeat: space no-repeat;
  background-size: contain;
  background-position: center;
}

.star-4::before {
  width: 87px;
}

.star-3::before {
  width: 68px;
}

.star-2::before {
  width: 44px;
}

.product-card-number {
  margin: 0;
  padding: 8px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-smoky-white);
  border-radius: 4px;
}

/* pagination */
.pagination {
  // display: flex;
  // flex-direction: row;
  // justify-content: start;
  // align-items:center;
  display: grid;
  grid-template-columns: repeat(6, min-content);
  justify-content: start;
  align-items:center;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  display: block;
  min-height: 60px;
  min-width: 60px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue-gray);
  border-radius: 4px;
}

.pagination-link-other {
  color: var(--basic-black);
  background-color: transparent;
}
.pagination-link--active {
  color: var(--basic-black);
  background-color: var(--basic-smoky-white);
}
