@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Глобальные */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  margin: 0;
  font-family:  "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  font-style: normal;
  color: var(--basic-grey);

  background-color: var(--basic-smoky-white);
}

.main-container {
  flex-grow: 1;
  margin-top: -10px;
}

.container {
  width: 1200px;
  display: block;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0px 0px 15px 0px #00000033;
}

.container--page {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear-ul {
  // list-style: none;
  margin: 0;
  // padding: 0;
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-smoky-white:#F2F2F2;
  --basic-grey: #333333;
  --basic-blue-gray:#82B3D3;

  --black-darker:#4561a4;
  --reddish-brown:#756157;
  // rgba(0, 0, 0, 0.2)

}


/* header */
.page-header {
  position: relative;
  display: flex;
  flex-direction: row;
  gap:26px;
  padding-left: 70px;
  padding-right: 54px;
  color: var(--basic-black);
}

.page-header-logo {
  width: 170px;
}

.navigation {
  width: 100%;
  margin-top: -10px;
}

.navigation,
.navigation-list,
.navigation-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navigation-list,
.navigation-user {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-list {
  flex-wrap: wrap;
  gap: 5px;
  margin-right: auto;
}

.navigation-link,
.navigation-user-link {
  padding: 20px 14px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
}
.navigation-user .navigation-user-link {
  min-width: 44px;
  min-height: 64px;
  padding: 5px;
}

.navigation-user-link--favorites {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: #7DB54F;
  background-size: 20px 20px;
  // border-radius: 10px;

  color: var(--basic-white);
}

.navigation-user-link--btn {
  margin-left: 21px;
  margin-right: 16px;
  padding: 8px 35px;
  background-color:  var(--reddish-brown);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: var(--basic-white);

  text-transform: uppercase;
}

/* main */
.hero {
  margin-bottom: 70px;
  background-color:var(--black-darker);
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

}

.hero-image {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

/* info */

.info-list {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  // display: flex;
  // flex-direction: column;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(3,1fr);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.info-title {
  width: 800px;
  margin: 30px auto 24px;
  // padding: 0 20px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
}

.info-text {
  margin: 0;
  margin-bottom: 90px;
  // padding: 0 20px;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}


.info-item {
  display: flex;
  align-items: center;

}

// .info-item:nth-child(1n) {
//   flex-grow: 1;
// }

// .info-item:nth-child(2n) {
//   flex-direction: column;
// }

// .info-item:nth-child(3n) {
//   flex-direction: column;
// }

// .info-item:nth-child(4n) {
//   flex-direction: column;
// }

.info-item:nth-child(5n) {
  flex-direction: row-reverse;
}

.info-item--accent {
  width: 100%;
}

.info-item--lighter,
.info-item--light,
.info-item-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 385px;
  padding: 50px;
}

.info-item-wrap {
  width: 100%;
  min-height: 385px;
  background-color: var(--basic-blue-gray);
}

.info-item--lighter,
.info-item--light {
  flex-grow: 1;
}

.info-item-img {
  background: #83B3D333;
}

.info-item--light {
  background-color: #83B3D31F;
}

.info-item-title {
  width: 175px;
  margin-top: 15px;
  margin-bottom: 44px;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;

  color: var(--basic-black);
  text-transform: uppercase;
}

.info-item--accent .info-item-title {
  width: 172px;
}

.info-item-text {
  width: 230px;
  margin-bottom: 17px;
  // padding: 5px;
  padding: 0;
  text-align: center;
}

.info-item-text--accent,
.info-item-title--accent {
  color: var(--basic-white);
}

/* advantages */
.advantages {
  margin: 0 auto;
  margin-bottom: 25px;
}

.advantages-title {
  width: 500px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;

  color: var(--basic-black);
  text-transform: uppercase;
}

.advantages-text {
  margin: 0 ;
  margin-bottom: 64px;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 95px;
  padding: 0;
  list-style: none;
}
.advantages-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 386px;
  padding: 81px 85px;
  background: #83B3D31F;
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: top 82px center;
}

.advantages-item--home {
  background-image: url("../images/icons/icon-home.svg");
  // background-position: top center;
}

.advantages-item--food {
  background-color: var(--basic-white);
  background-image: url("../images/icons/icon-food.svg");
  // background-position: top center;
}

.advantages-item--gift {
  background-image: url("../images/icons/icon-gift.svg");
  // background-position: top center;
}

.advantages-item-title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;

  color: var(--basic-black);
  text-transform: uppercase;
}

.advantages-item-text {
  margin-bottom: 2px;
  padding: 0;
  text-align: center;
}

// .advantages-item--home .advantages-item-text {
//   max-width: 180px;
// }

// .advantages-item--food .advantages-item-text {
//   max-width: 230px;
// }

// .advantages-item--gift  .advantages-item-text {
//   max-width: 220px;
// }


/* hotel-search */
.hotel-search {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.hotel-search--title {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: var(--basic-black);

  text-transform: uppercase;
}

.hotel-search-text {
  width: 580px;
  margin-top: 0;
  margin-bottom: 54px;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.hotel-search-btn {
  margin-bottom: 96px;
  padding: 8px 50px;
  // height: 52px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;

  background: var(--reddish-brown);
  color: var(--basic-white);
  text-transform: uppercase;
}

/* subscribe */
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe--img {
  background-color:var(--black-darker);
  background-image: url("../images/subscrib-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.subscribe--title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 156px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscribe--img .subscribe--title {

  padding-top: 96px;
}

.subscribe--text {
  max-width: 500px;
  margin-top: 0;
  margin-bottom: 55px;
  padding: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe .subscribe--text,
.subscribe .subscribe--title {
  color: var(--basic-black);
}

.subscribe--img .subscribe--text,
.subscribe--img .subscribe--title {
  color: var(--basic-white);
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 684px;
  padding-bottom: 104px;
}

.subscribe-form-input {
  display: block;
  // height: 52px;
  width: 100%;
  padding: 14px 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  border:none;
  background-color: var(--basic-smoky-white);
  border-radius: 4px 0 0 4px;
  color: rgb(0, 0, 0, 0.6);
}

.subscribe-form-btn {
  // height: 52px;
  padding: 8px 50px;
  background: var(--basic-blue-gray);
  border-radius: 0 4px 4px 0;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  border:none;
  border-radius: 0 4px 4px 0;
}


/* footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px;
  padding-left: 70px;
  padding-right: 70px;
}

.social {
  width: 135px;
  margin-right: 244px;
}

.social-list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-item-link {
  width: 47px;
  height: 40px;
}

.contacts {
  margin-right: auto;


  // text-decoration-line: underline;

}

.contacts-phone {
  text-transform: uppercase;
  color: var(--basic-black);
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

/* main-catalog */
.inner-header {
  padding-left: 70px;
  padding-right: 70px;
  background-color:var(--black-darker);
  background-image: url("../images/filter-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 7px;
  padding: 0;
  padding-top: 35px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: var(--basic-white);
}

/* breadcrumbs */
.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  color: var(--basic-white);
}

/* filter */
.catalog-filter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 72px;
  padding-bottom: 56px;
}

.catalog-filter-group {
  padding: 0;
  margin: 0;
  border: none;

  color: var(--basic-white);
}

.catalog-filter-list {
  padding: 0;
  list-style: none;
}
.catalog-filter-title {
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;

}

.control {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: var(--basic-white);
}

.min-price__input,
.max-price__input {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;

  color: var(--basic-black);
}

.price-controls__text,
.max-price__text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-transform: lowercase;
  // opacity: .3;
  color: var(--basic-black);
}

.button {
  // width: 191px;
  // height: 36px;
  padding: 8px 50px;
  background: var(--basic-blue-gray);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border: none;
  border-radius: 4px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.button__reset {
  background: none;
  border: none;

  font-weight: 400;
  text-transform: capitalize;
}


/* results */
.results {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 70px 20px;
}

.results-title {
  margin-right: auto;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--basic-black);

  text-transform: uppercase;
}


.select-control {
  width: 292px;
  // height:49px;
  padding: 10px 20px;
  background-color: transparent;
  // border-radius: 4px;
  border: 2px solid #E5E5E5;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.switcher-button-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 0;
  margin-left: 68px;
  padding: 0;
  list-style: none;
}

.switcher-button-list-item-link {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 48px;
  min-height: 48px;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.switcher-button-list-item-link-activ {
  border: 2px solid #000000;
}

.catalog {
  padding-left: 70px;
  padding-right: 70px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  margin: 0;
  margin-bottom: 78px;
  padding: 0;
}

.product-card {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}


.product-card--title {
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;

  color: var(--basic-black);
}

.product-card-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content:center;
  margin-top: 15px;
}


.product-card-housing,
.product-card-price {
  margin: 0;
}
.product-card-housing {
  text-align: left;
}

.product-card-price {
  text-align: right;
}

.product-card-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 17px;
}

.product-card-btn {
  padding: 8px 26px;
  background: var(--reddish-brown);
  border-radius: 4px;
  color: var(--basic-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;

  text-transform: uppercase;
}

.product-card-btn--accent {

  padding: 8px 19px;
  background: var(--basic-blue-gray);
}

.product-card-btn--active {
  background: #7DB54F;
}

.product-card-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.star {
  display: block;
  height: 17px;
  width: 105px;
  background: red;
}

.product-card-number {
  margin: 0;
  margin-top: 16px;
  padding: 8px 22px 8px 23px;
  background-color: var(--basic-smoky-white);
  border-radius: 4px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}



/* pagination */
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items:center;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  display: block;
  min-height: 60px;
  min-width: 60px;
  padding: 10px;
  background: var(--basic-blue-gray);
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: var(--basic-white);
  text-align: center;
}

.pagination-link-other {
  background: transparent;
  color: var(--basic-black);
}
.pagination-link--active {
  background: var(--basic-smoky-white);
  color: var(--basic-black);
}
